<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
    <p> <a href="/">Strona główna </a> || <a href="/signup"> Rejestracja </a> || <a href="/login">Zaloguj</a></p>

    <form method="post">
        <input type="text" name="username" placeholder="Wpisz swoja nazwe uzytkownika">
        <br>
        <input type="password" name="password" placeholder="Wpisz swoje haslo">
        <br>
        <button>Zaloguj</button>
    </form>

</body>
</html>