<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <p> <a href="/">Home</a> | <a href="/signup">Signup</a> </p>

    <h1> Forum Społeczności Python </h1>
    <form method="post">
        <input type="text" name="username" placeholder="Wprowadz imie" required>
        <br>
        <input type="password" name="password" placeholder="Wprowadz haslo" required>
        <br>
        <input type="password" name="repeat" placeholder="Wprowadz haslo jeszcze raz" required>
        <br>
        <input type="email" name="email-address" placeholder="Wprowadz swoj email" required>
        <br>

        <button>Submit</button>
    </form>

</body>
</html>